---
import Base from "../layouts/Base.astro";
import ButtonLink from "../components/ButtonLink.astro";
---

<Base title="luan">
  <p>
    Hello! My name is Luan Nico, and this is my landing page. It uses my <a href="/projects/drop-in">drop-in</a> minimalist
    CSS stock.
  </p>

  <fieldset>
    <legend>About</legend>
    <section>
      <p>
        I'm a Physicist, Software Craftsman, & Game Developer who believes in OSS and the community; currently in love
        with Kotlin, Dart & Flutter, and learning about the Universe and its mysteries.
      </p>
      <p>
        I have worked for more than a decade professionally (and more years than I can remember as a hobby) with a
        plethora of languages, platforms, frameworks, and libraries. I like to solve people's problems with technology,
        and I believe there is always a good solution to every problem and a good problem for every solution; for that
        reason, I like most programming languages, and I'm always thrilled to learn something new.
      </p>
      <p>
        I truly believe in Open Source and I try to make, if possible, everything I do open (libre) and free. You can
        see examples of things I have been working on my <a href="https://github.com/luanpotter">GitHub page</a>. Today
        I mainly work with Kotlin on my day-to-day job and with the <a href="https://flame-engine.org">Flame Engine</a> that
        I created on the off hours. If you are specifically interested in Flame, also check out our
        <a href="https://blue-fire.xyz/">Blue Fire</a> collective.
      </p>
    </section>
  </fieldset>

  <fieldset>
    <legend>Socials</legend>
    <section>
      <p>
        As a bit of a recluse, it might be hard to find me online. A good bet is to use the GitHub issues page if you
        want to talk about specific projects.
      </p>
      <div class="actions">
        <ButtonLink variant="accent" href="https://github.com/luanpotter">github</ButtonLink>
        <button id="contact">email</button>
        <ButtonLink href="https://discord.gg/pxrBmy4">discord</ButtonLink>
        <ButtonLink href="https://keybase.io/luan">keybase</ButtonLink>
        <ButtonLink href="https://stackoverflow.com/users/1217989/luan-nico">stack overflow</ButtonLink>
        <ButtonLink href="https://www.linkedin.com/in/luan-nico-5baa3627/">linkedin</ButtonLink>
        <ButtonLink href="https://codetrace.com/users/luanpotter">codetrace</ButtonLink>
      </div>
    </section>
  </fieldset>

  <fieldset>
    <legend>Projects</legend>
    <section>
      <p>
        I have created and contributed to <a href="/projects">countless projects</a> over the years, most of which you can
        find on my
        <a href="https://github.com/luanpotter">GitHub</a>.
      </p>
      <h2>Highlights</h2>
      <ul>
        <li><a href="https://github.com/luanpotter/flame">flame</a> - lightweight game engine built on Flutter.</li>
        <li>
          <a href="https://github.com/luanpotter/audioplayers">audioplayers</a> - multi-platform Flutter plugin to play music
          and sound effects.
        </li>
        <li><a href="https://github.com/faire/yawn">yawn</a> - type-safe Hibernate queries in Kotlin.</li>
        <li>
          <a href="/unicamp">Unicamp</a> - a collection of tools to help students at my alma mater.
        </li>
      </ul>
      <h2>Hosted</h2>
      <p>Some of my projects are hosted on this website, such as:</p>
      <ul>
        <li><a href="/projects/card-press">card-press</a> - build print-and-cut PDFs with ease</li>
        <li><a href="/projects/drop-in">drop-in</a> - minimalist CSS baseline (you are looking at it!)</li>
      </ul>
      <h2>Blue Fire</h2>
      <p>
        <a href="https://blue-fire.xyz">Blue Fire</a> is an open source collective responsible for many projects you know
        and love, such as the <a href="https://flame-engine.org">Flame Engine</a>, audioplayers, and many more.
      </p>
      <p>I'm the founder and a proud member, and alongside many other incredible contributors from our community.</p>
      <p>You can join our <a href="https://discord.com/invite/pxrBmy4">Discord Server</a> to reach out!</p>
    </section>
  </fieldset>

  <fieldset>
    <legend>Contributions</legend>
    <section>
      <p>
        Usually, everything I make is free (as in freedom & beer). However, if you'd like to buy me a cup of coffee (I
        love coffee!), feel free to use the options below.
      </p>
      <ul>
        <li><a href="https://github.com/sponsors/luanpotter">Sponsor me on GitHub</a></li>
        <li><a href="https://ko-fi.com/luan">Buy me a coffee on Ko-fi</a></li>
        <li>
          <a href="https://opencollective.com/blue-fire">Support Blue Fire on OpenCollective</a>
        </li>
      </ul>
    </section>
  </fieldset>

  <script is:inline>
    const contact = document.getElementById("contact");
    contact?.addEventListener("click", (e) => {
      e.preventDefault();
      const myName = "contact";
      const myServer = "luan.xyz";
      contact.innerHTML = myName + "&#64;" + myServer;
      contact.setAttribute("onclick", "window.location.href='" + "mailto:" + myName + "@" + myServer + "'");
    });
  </script>
</Base>
