---
import Base from "../layouts/Base.astro";
---

<Base title="stuff">
  <fieldset>
    <legend>Setup</legend>
    I am single-monitor evangelist and a strong <a href="https://archlinux.org/">arch</a> advocate. You can check my
    <a href="https://github.com/luanpotter/dotfiles">dotfiles</a> for my complete setup, but here are some software that I
    use:
    <ul>
      <li>
        <a href="https://awesomewm.org/">Awesome WM</a> - been using awesome for the good part of a decade; but experimenting
        with wayland + hyprland recently.
      </li>
      <li>
        I've used <a href="https://gnome-terminator.org/">terminator</a> since forever, but recently was experimenting with
        <a href="https://github.com/ghostty-org/ghostty">ghostty</a> and <a href="https://www.warp.dev/">warp</a>.
      </li>
      <li>
        <a href="https://www.firefox.com/">Firefox</a> - despite recent Mozilla controversies, I don't have any better alternative
        than Firefox. I am a big user of <a href="https://github.com/philc/vimium">Vimium</a>.
      </li>
      <li>
        I use a variety of editors for different jobs, including
        <a href="https://www.vim.org/">vim</a>,
        <a href="https://code.visualstudio.com/">VS Code</a>, and
        <a href="https://www.jetbrains.com/idea/">IntelliJ</a>.
      </li>
    </ul>
  </fieldset>
  <fieldset>
    <legend>Preferences</legend>
    <ul>
      <li>dark mode (non-negotiable)</li>
      <li>trailing commas, java-style brackets</li>
      <li>coffee, black. but matcha is nice too</li>
      <li>all mammals but specially dogs & rats</li>
    </ul>
  </fieldset>
</Base>
