body {
  font-size: 0.8rem;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* shorter column width for text-based content */
  width: 800px !important;
}

#root > main {
  flex: 1;
}

footer {
  text-align: center;
  padding: 0.2rem 0;
  font-size: 0.5rem;
}

footer * {
  color: var(--border);
}

blockquote {
  border-left: 1em solid var(--accent);
  background-color: var(--bg);
  margin-left: 0;
  margin-right: 0;
  padding: 0.2em;
  padding-left: 0.5em;
}

.actions {
  display: flex;
  gap: 8px;
}

.columns {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 12px;
}

.columns > img {
  aspect-ratio: 1;
  object-fit: cover;
  width: auto;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

h2 {
  color: var(--accent);
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px dotted var(--text);
  width: 100%;
}

.muted {
  color: var(--border);
}
