.actions {
  display: flex;
  gap: 1rem;
}

.columns {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 12px;
}

.columns > img {
  aspect-ratio: 1;
  object-fit: cover;
  width: auto;
}

h2 {
  color: var(--accent);
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px dotted var(--text);
  width: 100%;
}
