body {
    background-color: black;
    text-align: center;
    color: white;
}

a, a:visited, a:hover {
    color: white;
    text-decoration: underline;
}

small {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 8px;
}