body {
    background-color: black;
    font-family: diffusion;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

a, a:visited, a:hover {
    color: white;
    text-decoration: underline;
}

small {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 8px;
}

canvas {
    margin: 8px;
}

.modal {
    position: absolute;
    width: 50%;
    height: 75%;
    left: 25%;
    top: 12.5%;
    z-index: 1;
    border: 1px solid #fff4e6;
    background-color: #3C2F2F;
    color: #fff4e6;
    padding: 16px;
    display: none;
}

.modal.show {
    display: block;
}

button {
    background-color: #3C2F2F;
    color: #fff4e6;
    border: 1px solid #fff4e6;
    border-radius: 0;
    cursor: pointer;
}

table {
    width: 100%;
}

.modal > div {
    margin-bottom: 16px;
}

.lock {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.lock.open {
    background-image: url(../assets/lock-open.png);
}

.lock.closed {
    background-image: url(../assets/lock-closed.png);
}

.params input {
    width: 75%;
}

.betagamma td, .betagamma th {
    text-align: left;
}

.betagamma input {
    width: 140px;
}

input.free {
    outline: 1px solid blue;
}

#modal-stats-chart {
    font-size: 6px;
}